
{% extends "_base.html" %}
{% load static %}

{% block title %}Messenger{% endblock title %}

{% block content %}
<div class="monarch">
  <h1>Monarch Messenger and EMR</h1>
  <p>Promoting wellness and prompt, secure, patient-provider communication. </p>
  <h2>Encrypted Health Care Communication</h2>
  <p>Using our reliable databases and our state of the art messenger means that you'r information has never been safer.</p>
  <h2>A strong healthcare community.</h2>
  <p>Make referrals that much easier by using Valar Data's Monarch Messaging and EMR &#169; </p>
</div>
    

{% endblock content %}

